<?xml version="1.0" encoding="UTF-8"?>

    <mapper namespace="com.example.mapper.interfaces.UserMapper">
        <select id="findById" resultType="com.example.springbootdemo.entity.User">
            SELECT * FROM User WHERE id = #{id}
        </select>
        <!-- 插入、更新、删除等SQL -->
        <insert id="insert">
            INSERT INTO User(id, name) VALUES(#{id}, #{name})
        </insert>
    </mapper>


